.faq__container{
    margin: 7rem;
}

.faq__header{
    font-size: var(--size-3xl);
    font-weight: 600;
    color: var(--clr-teal);
    text-align: center;
    margin-bottom: 2.5rem;
}
.faq__content-element{
    margin: 0rem 6rem;
    margin-bottom: 1.5rem;
}
.faq__element-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.element__header-question{
    font-size: 24px;
    color: var(--clr-gray);
    font-weight: 600;
}
.element__header-arrow{
    width: 30px;
    height: 20px;
    color: red;
}
.faq__element-description{
    height: 0;
    overflow: hidden;
    color: var(--clr-gray);
    text-align: left;
    padding-right: 1rem;
}

/* HOVER */
.faq__element-header:hover .element__header-question{
    color: var(--clr-teal);
}
/* CLICK */
.show{
    height:auto;
}