/* PRODUCTS */
.header__products .header__products-dropdown-container{
    position: relative;
}
.header__products .header__dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    box-shadow: 0 0 18px rgba(0,0,0,0.1);
    margin-top: 1rem;
    line-height: normal;
    left: -100%;
    top: calc(100% - 30px);
    
}
.header__products .header__dropdown-content .💪{
    display: flex;
}

.header__products-dropdown-container:hover .header__dropdown-content{
    display: block;
}

.header__products .header__dropdown-right .header__dropdown-grid .header__dropdown-element:hover{
    box-shadow: inset 0px 0px 240px rgba(0,0,0,0.03);
}
.header__products .header__dropdown-left .header__dropdown-element:hover{
    border-bottom: 0.1px solid rgba(128, 128, 128, 0);
    transition: all 0.3s;

} 
/* LEFT SIDE */
.header__products .header__dropdown-content .header__dropdown-left{
    width: 275px;
    padding: 2rem;
}
.header__products .header__dropdown-left .header__dropdown-element{
    border-bottom: 0.1px solid gray;
    padding:2rem 0 ;
    transition: all 0.3s;
}
.header__products .header__dropdown-left .dropdown__title{
    color: #292a2d;
    margin-bottom:10px ;
    font-size: var(--size-xl);
    font-weight: 400;
    font-family: 'Noto Serif';
   
}

.header__products .header__dropdown-left .dropdown__description{
    color: gray;
    font-weight: lighter;
    
}
/* RIGHT SIDE */
.header__products .header__dropdown-right{
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    width: 0;
    padding: 0.25rem;
    transition: all 0.3s;
}
.header__products .header__dropdown-right .header__dropdown-grid{
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 275px 275px;
    height: 100%;
}
.header__products .header__dropdown-right .header__dropdown-element{
    display: flex;
    gap: 0.5rem;
    align-items: start;
    padding: 1rem;
}

.header__products .header__dropdown-right .header__dropdown-img{
    float: left;
    width: 20px;
    height: 20px;
}
.header__products .header__dropdown-right .header__dropdown-title{
    font-weight: 400;
    margin-bottom: 0.5rem;
}
.header__products .header__dropdown-right .header__dropdown-description{
    font-size: var(--size-sm);
    color:#6d6d6d;
}


/* TEMPLATE */
.header__templates{
    position:relative;
}
.header__templates .header__dropdown-content{
        display: none;
       position:absolute;
       background-color: white;
       padding: 0;
       left:-100px;
       top: calc(100% - 14px);
       box-shadow: 0px 0px 200px rgba(0,0,0,0.1);
}
.header__templates .header__dropdown-content .💪{
    display: flex;
    flex-direction: row;
}
.header__templates:hover .header__dropdown-content{
    display: block;
}
 .dropdown__leftside-element:hover{
    background-color: rgb(251, 251, 251);
}
.dropdown__leftside-element:hover .leftside__element-arrow{
    display: block;
}
.dropdown__rightside-element:hover{
    transform: scale(1.04);
}

/* LEFTSIDE */
.header__templates .💪 .header__dropdown-leftside{
    width: 350px;
    padding-bottom: 2.5rem;
    padding-top: 0.5rem;
}
.header__templates .💪 .header__dropdown-leftside .dropdown__leftside-element{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0px 2.5rem;
}
.header__templates .💪 .header__dropdown-leftside .dropdown__leftside-element .leftside__element-items{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 14px;
}
.leftside__element-items .element__items-img{
    height: 18px;
}
.leftside__element-arrow{
    display: none;
    width: 20px;
    height: 20px;
}
/* RIGHT SIDE */
.header__templates .💪 .header__dropdown-rightside{
    width: 380px;
    padding-right: 3.5rem;
}
.dropdown__rightside-title{
    font-family: 'Noto Serif';
    font-size: var(--size-xl);
    color: black;
}
.dropdown__rightside-element-container{
    display: flex;
    flex-direction:column ;
    gap: 0.65rem;
    font-size: 14px
}
.dropdown__rightside-element{
    border: 1px solid rgb(155, 154, 154);
    text-align: center;
    border-radius: 3px;
    height: 76px;
}

.dropdown__rightside-link{
    text-align: center;
}
.dropdown__rightside-link a{
    color: var(--clr-teal);
    font-size: 14px;
    font-weight: 600;
}