.header__products .header__dropdown-content{
    display:none;
    max-width: 275px;
    padding: 2rem;
    position: absolute;
    left: 25%;
    z-index: 1;
    background-color: white;
    box-shadow: 0 0 18px rgba(0,0,0,0.1);
    margin-top: 1rem;
}
.header__products .header__dropdown-element{
    border-bottom: 0.1px solid gray;
    padding:2rem 0 ;
    
}
.header__products .dropdown__title{
    color: #292a2d;
    margin-bottom:10px ;
    font-size: var(--size-xl);
    font-weight: 400;
    font-family: 'Noto Serif';
}

.header__products .dropdown__description{
    color: gray;
    font-weight: lighter;
}
.header__products:hover .header__dropdown-content{
    display: block;
} 