.pricing__content-container{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    color: var(--clr-gray);
}
.pricing__content-element{
    /* border: 0.1px solid var(--clr-gray); */
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 4rem 3rem;
    max-width: 260px;
    display: flex;
    flex-direction: column;
}
.pricing__content-title{
    font-size: var(--size-2xl);
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.pricing__content-description{
    font-size: 14px;
   margin-bottom: 1rem;
}
.pricing__content-price-container{
    display: flex;
    align-items: start;
    gap: 0.5rem;
}
.pricing__content-price-dollar{
    font-size: var(--size-3xl);
}
.pricing__content-price{
    font-size: var(--size-6xl);
    font-weight: 600;
}
.pricing__content-price-month{
    font-size: var(--size-2xl);
    margin-top: 36px;
}
.pricing-content-list{
    border-top: 2px solid var(--clr-teal);
    padding-top: 2.5rem;
    padding-left: 0;
}
.pricing-content-list li{
    margin-bottom: 1.5rem;
    display: flex;

}
.pricing-content-button{
    background-color: var(--clr-teal);
    color: white;
    font-weight: 600; 
    padding: 1.5rem 0rem;
    border-radius: 3px;
    margin-top: auto;
}

/* most popular part */
.most-popular{
    position: relative;
    overflow: hidden;
}
.most_popular-container{
    position:absolute;
    background-color: var(--clr-teal);
    color: white;
    font-weight: bold;
    font-size: var(--size-lg);
    padding: 0.75rem 0;
    width: 300px;
    left: auto;
    width: 300px;
    right: -87px;
    top: 50px;
    text-align: center;
    transform: rotateZ(45deg);
}