.list,li{
    list-style: none;
}
.flex{
    display: flex;
}
.container{
    position: relative;
    border: 1px solid red;
    display:inline-block;
}
.btn{
    background-color:gray;
    color: white;
    padding:0.5rem;
}

.content{
    display :none;
    position: absolute;
    top: 55px;
    z-index: 1;
    width: 100%;
    border: 1px solid blue;
}

.content li:hover{
    background-color: gray;
}

.container:hover .content{
    display: block;
}